body{
    background-image: url(otherimages/backgorund.jpeg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
/** Basic H1, H2, H3, P, H4, and footer **/
h1{
    text-align: center;
    color: white;
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
}
h2{
    text-align: center;
    color: white;
    font-family: 'Abril Fatface', cursive;
    font-size: 45px;
}
h3{
    text-align: center;
    font-family: 'Tinos', serif;
    font-size: 40px;
}
p{
    margin-left: 2em;
    margin-right: 2em;
    font-family: 'Tinos', serif;
    font-size: 20px;
}
footer{
 text-align: center;
}

h4{
    text-align: center;
    font-family: 'Tinos', serif;
    font-size: 30px;
    margin-top: 7px;
    margin-bottom: 4px;
}
/** logo image**/
#logoimage{ 
    text-align: center;
    width: 500px;
    border-radius: 80%;
}

/** Navigation CSS Begins **/
.pill-nav a{
    display:inline-block;
    background-color: #ffd34e ;
    margin-right: 3%;
    margin-bottom: 2%;
    color: black;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    padding: 17px;
    text-decoration: none;
    font-size: 25px;
    border-radius: 2px;
}
.pill-nav a:hover{
    background-color:#e4bf50;
    color:white
}
/** Navigation CSS Ends **/

/** index CSS **/
.main_index{
    margin: auto;
    width: 65%;
    background-color: #ffeba9;
    border: 4px solid black;
    padding: 4px;
}

/** Image Gallery CSS Begins **/
div.gallery{
    margin: 10px;
    border: 3px solid black;
    display: inline-block;
    text-align: center;
    width: 30%;
    height: 260px;
}

div.gallery img{
    display: block;
    border-bottom: 3px solid black;
    width: 100%;
    height: 200px;
}

 div.desc{
    padding: 10px;
    background-color: #ffeba9;
    text-align: center;
    font-family: 'Tinos', serif;
 }
/** Image Gallery CSS End **/

/** Image Overlay CSS Begins **/
.container{
    position: relative;
    width: 100%;
}

.overlay{
    position: absolute;
    bottom: 0;
    background:0;
    background: #6eeb34bd;
    width: 91%;
    height: 220px;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 60px;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    padding: 20px;
}
.container:hover .overlay{
    opacity:1;
}
/** Image Overlay CSS Ends **/

/** Rescue Image & Adoption Image CSS Begins **/

.wrapper{
    margin-left: 13em;
    margin-top: 12px;
    width:70%;
    padding: 20px;
    border: 3px solid black;
    background-color: #ffeba9;
}

.left{
  float: left;
  border: 3px solid black;
  border-radius: 10px;
  margin-right: 15px;
  margin-left: 5px;
  margin-top: 10px;
}

/** Rescue Image & Adoption Image CSS Ends **/

/** FAQ CSS Begins **/

.feature-card{
    margin: auto;
    width: 65%;
    background-color: #ffeba9;
    border: 4px solid black;
    padding: 4px;
    text-align: center;
}
.feature-card ul{
    list-style: circle;
    font-family: 'Tinos', serif;
    font-size: 20px;
    text-align: left;
}
/** FAQ CSS Ends **/

/** Forms CSS Begins **/


label{
    display: inline-block;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 1em;
    margin-left: 7em;
    background-color:#ffd34e;
    text-align: center;
    font-size: 20px;
    font-family: 'Tinos', serif;
    border: 2px solid black;
    border-radius: 4px;
    padding: 12px;
}
input[type=text]{
    display: inline-block;
    width: 300px;
    margin-top: 10px;
    margin-left:100px;
    background-color:#ffcc3378;
    color: black;
    text-align: center;
    font-size: 20px;
    font-family: 'Tinos', serif;
    border: 2px solid black;
    border-radius: 4px;
    padding: 12px;
}

input[type=date]{
    width: 500px;
    margin-left: 2em;
    background-color:#ffcc3378;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Tinos', serif;
    border: 2px solid black;
    border-radius: 4px;
    padding: 12px;
}

input[type=time]{
    width: 500px;
    margin-left: 2em;
    margin-top: 5px;
    background-color:#ffcc3378;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Tinos', serif;
    border: 2px solid black;
    border-radius: 4px;
    padding: 12px;
}

input[type=email]{
    width: 350px;
    margin-bottom: 1em;
    margin-left: 2em;
    background-color:#ffcc3378;
    color: black;
    font-size: 20px;
    font-family: 'Tinos', serif;
    border: 2px solid black;
    border-radius: 4px;
    padding: 12px;
}

select{
    width: 580px;
    margin-top: 10px;
    margin-bottom: 1em;
    margin-left: 10em;
    background-color:#ffcc3378;
    color: black;
    font-size: 20px;
    font-family: 'Tinos', serif;
    border: 2px solid black;
    border-radius: 4px;
    padding: 12px;
}

#comments{
    width: 550px;
    margin-top: 10px;
    margin-bottom: 1em;
    margin-left: 10em;
    background-color:#ffcc3378;
    color: black;
    font-size: 20px;
    font-family: 'Tinos', serif;
    border: 2px solid black;
    border-radius: 4px;
    padding: 12px;
}

.button{
    background-color:#ffd34e;
    color: black;
    padding: 12px;
    width: 664px;
    margin-top: 10px;
    margin-left: 8em;
    text-align: center;
    font-size: 20px;
    font-family: 'Tinos', serif;
  
}
.button:hover{
    background-color: rgba(229, 208, 106, 0.601);
}
/** Forms CSS Ends **/

/** Location CSS Begins **/


.operation{
    display: flex;
}
.location{
    margin-left: 25em;
    margin-top: 12px;
    width:18%;
    padding: 20px;
    border: 3px solid black;
    border-radius: 6px;
    background-color: #ffeba9;
    overflow: hidden;
}
.location ul{
    list-style: none;
}

.location ul li{
    margin-bottom: 8px;
}

.right{
    width: 350px;
    height: 450px;
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 10px;
  }

address{
    border: 3px solid black;
    border-radius: 10px;
    background-color: #ffeba9;
    text-align: center;
    margin-left: 25em;
    margin-top: 12px;
    width:45%;
    padding: 20px;
}